<h3 class="title"> {{article.title}}</h3>
<a href={{article.url}}> {{article.url}}</a>
<p> <span class="sub">Posted by:</span> <a href="/{{article.username}}">{{article.username}}</a></p>

<p><span class="sub"> Description:</span> {{article.description}}</p>


